

h1 {

  text-transform: uppercase;
  text-align: center;

  margin-top: 40px;
}
.slider {
  width: 70%;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/portfolio/public/gallery/1.jpg');
  background-size: 100% 100%;
}
